#gform_wrapper_1 {
    width: 100%;
    form {
        display: flex;
        flex-direction: column;
        label {
            font-family: $quick-sand;
        }
        input[type="text"], textarea {
            font-family: $quick-sand;
        }
        #gform_submit_button_1 {
            padding: 0.5rem 0.7rem;
            background-color: transparent;
            border: 2px solid $black;
            font-family: $quick-sand;
            cursor: pointer;
            &:hover {
                background-color: $black;
                color: $white;
            }
        }
    }
}

.contact-page-section {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    @media only screen and (max-width: 800px) {
        flex-direction: column-reverse;
        }
    &__form {
        width: 60%;
        @media only screen and (max-width: 800px) {
            width: 100%;
            }
    }
    &__text {
        width: 35%;
        @media only screen and (max-width: 800px) {
            width: 100%;
            }
        h2 {
            font-family: $oswald;
            color: $gold;
            font-size: 2.8rem;
        }
        p {
            margin-top: 0.5rem;
            line-height: 20px;
        }
    }
}

#gform_confirmation_message_1 {
    font-family: $quick-sand;
    color: $black;
    font-weight: 400;
}